<!DOCTYPE html>
<html>

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Windbuddies</title>
    <script src="https://kit.fontawesome.com/30b0219505.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'surf/style.css' %}">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <h1 class="title is-1">Windbuddies</h1>
            <h2 class="subtitle">See you at the beach</h2>
            <button class="button">
                <span class="icon">
                    <i class="fa fa-plus"></i>
                </span>
                <span>Add Session</span>
            </button>
        </div>
    </section>
    <div class="columns">
        <div class="column">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>