{% extends "surf/base.html" %}

{% load static %}

{% block content %}
<ul class="list-unstyled">
    {% for s in latest_sessions %}
    <li class="d-flex mb-2">
        <img src="{{ s.spot_image }}" alt="Spot" class="mr-3" style="width:96px;height:96px;">
        <div class="flex-grow-1 p-2">
            <h5>{{ s.when }} {{ s.spot }}</h5>
            <p>Going: {{ s.planned }}</p>
        </div>
        <div>
            <a href="/surf/sessions/delete/{{ s.id }}">Delete</a>&nbsp;
            <button type="button" class="btn btn-outline-primary">Join</button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}