{% extends "surf/base.html" %}

{% load static %}

{% block content %}
<div class="box">
    {% for s in latest_sessions %}
    <article class="media">
        <figure class="media-left">
            <p class="image is-96x96">
                <img src="{{ s.spot_image }}" alt="Spot" />
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ s.when }} {{ s.spot }}</strong>
                    <br>
                    Going: {{ s.planned }}
                </p>
            </div>
        </div>
        <div class="media-right">
            <button class="button">
                <span class="icon">
                    <i class="fas fa-user-friends"></i>
                </span>
                <span>Join</span>
            </button>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}