{% extends "main/base.html" %}
{% load extras %}
{% load i18n %}
{% load static %}

{% block content %}
<ul class="list-unstyled">
    {% for s in latest_sessions %}
    <li class="d-flex mb-2">
        <img src="{{ s.spot_image }}" alt="Spot" class="mr-3" style="width:80px;height:80px;">
        <div class="flex-grow-1 p-2">
            <strong>{{ s.spot }}</strong> 
            {{ s.when|date:'l d. F Y' }}
            <p>Surfer: {{ s.rider_names }}</p>
        </div>
        <div>
            {% if user|can_delete:s %}
                <a href="{% url 'delete' s.id %}">{% trans 'delete' %}</a>&nbsp;
            {% endif %}
            <button type="button" class="btn btn-outline-primary">{% trans 'join' %}</button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}