{% extends "main/base.html" %}
{% load extras %}

{% block content %}
<div class="p-2">
    <form action="/main/sessions/" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col">
                {{ form.spot|addcss:"form-select" }}
            </div>
            <div class="col">
                <a class="btn btn-link">Neuen Spot zufügen...</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                {{ form.when|addcss:"form-control" }}
            </div>
            <div class="col">
            </div>
        </div>
    
    <a href="/main">Zurück</a>&nbsp;
    <input type="submit" class="btn btn-primary" value="Erstellen">
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $("#id_when").datepicker();
        $("#id_when").datepicker("option", "dateFormat", "dd.mm.yy");
        $("#id_when").datepicker("option", "de-DE");
    });
</script>
{% endblock %}